*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    /* background-color: #f4f4f4; */
    color: black;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: white;
   

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: 0.3sec;
}

.nav-links li a:hover{
    color: #007BFF;
    text-shadow: 0 0 10px #38bd38;
}


.Username{
    color: rgb(62, 68, 221);
    background-color: #97c7fa;
    display: inline-block;
    font-size: 1.1rem;
    padding: 1.2rem;
    border-radius: 15%;
}

.bar{
      background-color: #f4f4f4;
      padding: 20px;
}



.left{
    color: #0f0e0eb8;
    font-family: c;
    display: flex;
    font-size: 1.5rem;
    margin: 100px;
    gap: 300px;
    
    
}  

.p{
    margin-top: 15px;
    font-size: 1.3rem;
    word-spacing: 7px;
}

.rigth{
    display: flex;
    justify-content: right;
}


.Laundry{
    color: #007BFF;
}

.button{
    margin-top:50px ;
    color: white;
    background-color: #007BFF;
    border: none;
    padding: 1.8rem;
    border-radius: 25% ;
    word-spacing: 5px;
}



